.cart{
    margin-left: 300px;
    margin-right: 300px;
    border-radius: 20px;
}
.cart:hover{
      border: none;
      box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
      transform: scale(1.01)
}
.cart img{
    width: 50%;
    height: 50%;
}
.carts{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.carts h3{
     color: rgb(60, 126, 126);
}
.button{
    font-weight: bold;
    border: none;
    color: aliceblue;
    padding: 18px;
    background-color: rgb(38, 82, 82);
    border-radius:20px;
}
.button:hover{
    background-color: rgb(80, 126, 110);
}