.header-container{
    background-color: aqua;
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
    justify-content: space-between;
    
}

.header-child a{
    text-decoration: none;
    align-items: center;
    font-size: 20px;
    padding: 10px;
    color: aliceblue;
    
    
}